<%- include ('partials/header') %> 

    <div class="container">
      <h1>Deck of cards</h1>
        <br><br><br>
        <h3>Well... something seems to have gown terrably wrong!</h3>
    </div>

    <%- include ('partials/footer') %> 
